section {
    padding-right: 10px;
}

.fizzbuzz1 {
    float: left;
}

.fizzbuzz2 {
    float: left;
}

.fizzbuzz3 {
    float: left;
}

.fizzbuzz4 {
    float: left;
}

.fizzbuzz5 {
    float: left;
}